<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="/">
  <%= image_tag("icon.svg", width: "30", height: "30", class: "d-inline-block align-top" ) %>
  Dream blog
</a>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to "Users", users_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "New post", new_post_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </li>
  </ul>
  </div>
</nav>
