<div class="btn-group">
<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Sort
</button>

<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
  <%= link_to "Author" ,"http://localhost:3000?sort=author", :name => "author", :class => "dropdown-item" %>
  <%= link_to "Tags","http://localhost:3000?sort=tags", :name => "tags", :class => "dropdown-item" %>
  <%= link_to "Date","http://localhost:3000?sort=date", :name => "date", :class => "dropdown-item" %>
</div>
</div>

<h1 class="my-4"></h1>
