<div class="card my-4">
  <h5 class="card-header">Time</h5>
  <div class="card-body">
    <canvas id="canvas">
    </canvas>
    <%= javascript_include_tag "time", "data-turbolinks-track" => true  %>


  </div>
</div>
