<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.common-material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.min.css" />

    <script src="https://kendo.cdn.telerik.com/2018.3.1017/js/kendo.all.min.js"></script>
<div class="card my-4">
  <h5 class="card-header">Date</h5>
  <div class="card-body">
      <input id="datetimepicker" title="datetimepicker" style="width: 100%;" />
  <script>
      $(document).ready(function () {
          // create DateTimePicker from input HTML element
          $("#datetimepicker").kendoDateTimePicker({
              value: new Date(),
              dateInput: true
          });
      });
  </script>
  </div>
</div>
