<%# With this link work
  <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.common-material.min.css" />
 %>
<div class="card my-4">
  <h5 class="card-header">Date</h5>
  <div class="card-body">
      <input id="datetimepicker" title="datetimepicker" style="width: 100%;" />
  </div>
</div>
