<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <%= image_tag("icon.svg", :width => "30", :height => "30", :class => "d-inline-block align-top" ) %>
    Dream blog
  </a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" href="<%= new_user_session_path %>">Login</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="<%= new_user_registration_path %>">Sign up</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
    </ul>

  </div>
</nav>
